body {
    margin: 0;
    padding: 0;
}

body .content {
    margin: 7px;
}

header {
    background-color: #eb5e28;
    display: inline-flex;
    align-items: center;
    margin: 0%;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    justify-content: space-between;
}

header a {
    font-family: Helvetica, Arial, sans-serif;
    text-decoration: none;
    color: white;
}

header h1 {
    margin-right: auto;
}

header li {
    flex-wrap: wrap;
    list-style: none;
    display: inline-block;
    font-size: large;
    font-weight: bold;
    max-width: 100%;
    padding: 12px; 
    transition: transform 0.2s ease;
}

header li:hover {
    text-decoration: underline;
    color: white;
    transform: scale(1.1);
}

#heroimg {
    max-width: 100%;
    height: auto;
}

#logo {
    height: auto;
    max-width: 10%;
    min-width: 150px;
    margin: 10px 0px;
    object-fit: contain;
    flex-shrink: 0;
    margin: 2px 2px;
    align-self: center;
}

/* Recipes Styling */

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.recipe {
    width: 300px;
    height: 200px;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: last baseline;
    justify-content: center;
    font-size: 130%;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#riceballs {
    background-image: url('Images/Rice balls.jpg');
    color: white;
    -webkit-text-stroke: 0.4px black;
}
#ramen {
    background-image: url('Images/ramen.jpg');
    color: white;
    -webkit-text-stroke: 0.4px black;
}
#sushi {
    background-image: url('Images/sushi.jpg');
    color: white;
    -webkit-text-stroke: 0.4px black;
}

/* Responsive design on mobile devices*/

@media (max-width: 450px) {
    header {
        flex-direction: column;
        justify-content: center;
    }

    header h1 {
        text-align: center;
        margin: 10px 10px;
    }

    header li {
        display: inline-block;
        margin: 10px 0%;
        padding: 8px;
    }

    .container {
        flex-direction: column;
        align-items: center;
    }

    .recipe {
        width: 90%;
        height: auto;
    }
}