/* Navigation Bar spans whole screen width */ 
body {
    margin: 0;
    padding: 0;
    background-color: #f6f6f6;
}

/* Grid Layout */
.content {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 0px;
}

.sideimg-div {
    justify-items: flex-end;
}

.sideimg-div img {
    display: block;
    justify-self: flex-end;
    width: 100%;
    max-width: 700px;
    object-fit: cover;
}

.sideimg-div p {
    padding: 0px 10px;
    font-family: 'Public Sans';
    text-align-last: end;
}

hr {
    border: none;
    height: 2px;
    background-color: black;
    width: 100%;
}

/* Home Page Config.*/
#home {
    margin: 7px;
}

#home-title h1 {
    font-family: 'Caveat Brush';
    font-size: 4em;
    margin: 20px 30px;
}

#home p {
    font-family: 'Valley Sans';
    font-size: 1.2em;
    margin: 20px 30px;
}

#home .sideimg-div {
    grid-column: 2;
    grid-row: 1 / span 3;
}

#home img {
    height: 105%;
}

#home .paragraph-div {
    grid-column: 1;
    grid-row: 2;
}

/* Cuisine Page Config.*/
#cuisine {
    margin: 20px 20px;
}

#cuisine-title h1 {
    font-family: 'Public Sans';
    font-size: 2.5em;
}

#cuisine h2 {
    font-family: 'Public Sans';
    font-size: 2em;
    font-weight: normal;
}

#cuisine h3 {
    font-family: 'Public Sans';
    font-size: 1.2em;
    font-weight: normal;
}

#cuisine p {
    font-family: 'Public Sans';
    font-size: 1em;
    font-weight: normal;
}

.hr-div {
    width: 100%;
}

#cuisine img {
    height: 100%;
}

#onigiri-section, #ramen-section, #curry-section, #sushi-section {
    margin: 5px 5px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
}

#cuisine .paragraph-div { 
    grid-row: 1;
    grid-column: 1;
}

#cuisine .sideimg-div {
    grid-row: 1;
    grid-column: 2;
    display: grid;
    grid-template-rows: 1fr auto 0;
    align-items: center;
}

/* Navigation Bar Config.*/
header {
    background-color: #eb5e28;
    display: inline-flex;
    align-items: center;
    margin: 0%;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    justify-content: space-around;
}

header a {
    font-family: Helvetica, Arial, sans-serif;
    text-decoration: none;
    color: white;
}

header h3 {
    font-family: 'Caveat Brush';
    font-size: 2em;
    margin-right: auto;
}

header li {
    flex-wrap: wrap;
    list-style: none;
    display: inline-block;
    font-size: large;
    font-weight: bold;
    max-width: 100%;
    padding: 12px; 
    margin: 0px;
    transition: transform 0.2s ease;
}

header li:hover {
    text-decoration: underline;
    color: white;
    transform: scale(1.1);
}

#logo {
    height: auto;
    max-width: 10%;
    min-width: 150px;
    margin: 10px 0px;
    object-fit: contain;
    flex-shrink: 0;
    margin: 2px 2px;
    align-self: center;
}

/* Recipes Config.*/
.recipe-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.recipe {
    width: 300px;
    height: 200px;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: last baseline;
    justify-content: center;
    font-size: 130%;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#riceballs {
    background-image: url('Images/Rice balls.jpg');
    color: white;
    -webkit-text-stroke: 0.4px black;
}

#ramen {
    background-image: url('Images/ramen.jpg');
    color: white;
    -webkit-text-stroke: 0.4px black;
}

#sushi {
    background-image: url('Images/sushi.jpg');
    color: white;
    -webkit-text-stroke: 0.4px black;
}

/* Responsive design on mobile devices */
@media screen and (max-width: 769px) {
    #home-title h1 {
        font-size: 3em;
    }

    #cuisine h1 {
        font-size: 2em;
    }

    #cuisine h2 {
        font-size: 1.7em;
    }
    
    #cuisine img {
        max-height: 85%;
    }

    #cuisine .paragraph-div, #cuisine .sideimg-div {
        font-size: 0.8em;
    }

    .sideimg-div p {
        text-align-last: left;
    }

    header ul {
        margin-left: 20%;
    }
}

@media screen and (max-width: 480px) {
    .content {
        justify-content: center;
    }

    #home, #cuisine {
        text-align: center;
    }

    #home .sideimg-div {
        grid-column: auto;
        grid-row: auto;
    }

    .sideimg-div p {
        display: none;
    }
    
    #home .paragraph-div, #cuisine .paragraph-div {
        grid-column: auto;
        grid-row: auto;
    }

    #onigiri-section, #ramen-section, #curry-section, #sushi-section {
        display: block;
    }

    #cuisine img {
        max-height: 95%;
    }

    #home-title p {
        font-size: 1.2em;
    }

    #home .paragraph-div p {
        padding: 10px;
        font-size: 1em;
    }
    
    #home-title h1 {
        display: none;
    }

    #cuisine p {
        font-size: 0.9em;
    }

    header {
        flex-direction: column;
        justify-content: center;
    }

    header ul {
        margin: 0%;
        padding: 0%;
        text-align: center;
    }

    header nav {
        margin: 10px;
        width: 100%;
    }
    
    header h3 {
        margin: 10px 10px;
    }

    header li {
        margin: 3px 0%;
        padding: 8px;
    }

    .recipe-container {
        flex-direction: column;
        align-items: center;
    }

    .recipe {
        width: 90%;
        height: auto;
    }
}